<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{self.title}}</title>
    <link rel="stylesheet" href="{{ config.ASSETS_PATH }}/styles.css">
  </head>
  <body>
    <div class="page">
      <div class="page__pages-list">
        <h3 class="pages-list__header">Pages</h3>
        <ul class="pages-list__list">
          {{#each pages}}
            <li class="pages-list__item">
              <a class="pages-list__item-link" href="/{{this.data.slug}}">{{this.data.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="page__table-of-content">
        {{#if self.entities}}
          <h3 class="table-of-content__header">
            <a class="table-of-content__header-link" href="#header">Table of Content</a>
          </h3>
          <ul class="toc__list">
            {{#each self.entities}}
              {{#if this.data.title}}
                  {{#if this.data.content}}
                    <li class="table-of-content__item">
                      <a class="table-of-content__item-link" href="#{{this.data.id}}">{{this.data.title}}</a>
                    </li>
                  {{/if}}
              {{/if}}
            {{/each}}
          </ul>
        {{/if}}
      </div>

      <div class="page__content">
        <h2><a href="/{{self.slug}}">{{self.title}}</h2>
        {{{ content }}}
      </div>
    </div>
  </body>
</html>
