<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    {{#if self.meta.title}}
      <title>{{self.meta.title}}</title>
    {{/if}}
    <link rel="stylesheet" href="{{ config.ASSETS_PATH }}/styles.css">
  </head>
  <body class="content">
    <div class="menu">
      <div class="menu__inner container">
        <h1 class="menu__header subheader">
          <a href=/>{{ config.BLOG_TITLE }}</a>
          {{#if self.meta.title}}
            <span>:&nbsp;</span>
            <h2 class="menu__header" id="{{self.title}}">
              <a href="#header">{{self.title}}</a>
            </h2>
          {{/if}}
        </h1>
        <ul class="menu__links">
          {{#each pages}}
            <li class="menu__link">
              <a href="/{{this.data.slug}}">{{this.data.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="content__inner">
      <div class="page container" id="header">

        {{#if self.entities}}
          <div class="toc">
            <h3 class="toc__header subheader">
              <a href="#header">Table of Content</a>
            </h3>
            <ul class="toc__list">
              {{#each self.entities}}
                {{#if this.data.data.title}}
                  <li class="toc__item subheader">
                    <a href="#{{this.data.data.id}}">{{this.data.data.title}}</a>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{{ content }}}
      </div>
    </div>
  </body>
</html>
